@model Countrie



<h1>Create</h1>

<h4>Countries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Countries" class="control-label"></label>
                <input asp-for="Countries" class="form-control" />
                <span asp-validation-for="Countries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="States" class="control-label"></label>
                <input asp-for="States" class="form-control" />
                <span asp-validation-for="States" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citys" class="control-label"></label>
                <input asp-for="Citys" class="form-control" />
                <span asp-validation-for="Citys" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PinCodes" class="control-label"></label>
                <input asp-for="PinCodes" class="form-control" />
                <span asp-validation-for="PinCodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin" asp-controller="Countries" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
